<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hapus Produk - Java Juice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Hapus Produk Java Juice</h1>
        <p>Apakah Anda yakin ingin menghapus produk JUZ Mangga?</p>
        
        <form action="/destroy?id=1" method="POST"> <!-- Ganti dengan URL yang sesuai -->
            <button type="submit" class="btn btn-danger">Hapus</button>
            <a href="index.html" class="btn btn-secondary">Kembali</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
